@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


:root {
    --primary-color: #0366d6;
    --green-bg: #2ea44f;
    --btn-text: #24292e;
    --btn-bg: #fafbfc;
    --btn-border: #d3d3d357;
    --btn-shadow: #24292e;
    --body-text: #586069;
    --repo-border: #eaecef;
    --input-border: #e1e4e8;
    --input-text: #24292e;
    --icon-bg: #6a737d;
    --nav-bottom-border: #d1d5da;
    --lightgrey:#d0caca9c;
    --color-text-link: #0366d6;
    --color-white: white;
    --color-box-shadow: #0000001f;
    --grey-label:#d3d3d357;
    --search-bg: #fafbfc;
    --header_wrapper: #24292e;
    --color-input-container: #444d56;
}
body {
   margin: 0;
   padding: 0; 
   font-family: 'Open Sans', sans-serif !important;
}
/* Search Dropdown */
.search_drop_down {
    transition: 0.2s all;
    width: 500px;
    background:  var(--color-white);
    top: 41px;
    left:1px;
    position: absolute;
    /* z-index: 99; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 4px var(--color-box-shadow);
    display: none;
}
.jump_to_label {
    padding: 3px 7px;
    border-radius: 7px;
    border: 1px solid var(--grey-label);
    font-size: 12px;
    font-weight: 600;
    font-weight: 500;
    line-height: 18px;
    display: none;
    background: var(--search-bg);
}
.search_list{
    width: 100%;
}
.search_drop_down_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--lightgrey);
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.search_drop_down_list:hover {
    background: var(--color-text-link)
}
.repo_jump_to {
    margin-right: 15px;;
}
.drop_down_svg {
    margin-right: 4px;
    position: absolute;
    top: 12px;
    left: 9px;
}
.drop_down_repo_link {
    margin-left: 35px;
    font-weight: 400;
}
.header_wrapper {
    height: 60px;
    background:var(--header_wrapper);
    z-index: 999999;
   
}
.header_wrapper .navbar {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    height: 100%;
}

.header_wrapper .navbar .logo_wrapper {
    flex: 0 0 2%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
}
.header_wrapper .navbar .logo_wrapper img {
    width: 100%;
}
.header_wrapper  .search_wrapper {
    flex: 0 0 20%;
    justify-content: space-between;
}
.header_wrapper .icon_sec {
    background: transparent;
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
    height: 15px;
    width: 15px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slash_icon  {
    margin-right: 7px;
}
.header_wrapper .icon_sec .slash{
    color: var(--lightgrey);
}

.header_wrapper .input_container {
    transition: 0.2s all;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-input-container);
    border-radius: 5px; 
    width: 250px;
}
.header_wrapper .input_container input {
    border: 0;
    outline: 0;
    background: transparent;
    height: 28px;
    padding: 10px;
    width: 250px;
}
::placeholder {
  color: #797d81;
  font-size: 12px;
}
.header_wrapper .navbar .nav_menu_wrapper {
    flex: 1 0 64%;
    display: flex;
    align-items: center;
    position: relative;
}
.header_wrapper .navbar .nav_menu_wrapper ul {
    list-style: none;
    padding-inline-start: 0 !important;
    margin-left: 15px;
}
.header_wrapper .navbar .nav_menu_wrapper ul li {
    display: inline-block;
    margin-right: 15px;
}
.header_wrapper .navbar .nav_menu_wrapper ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
}
.header_wrapper .navbar .nav_menu_wrapper_right {
    flex: 0 0 5%;
}
.user-resource-wrapper {
    margin: 0 auto;
    width: 77%
}
.user-resource {
    display: flex;
}
.user-resource  .profile-section {
    flex: 0 0 20%;
    padding-top: 30px;
}
.user-resource  .profile-section .dp_wraper {
    width: 270px;
    height: 270px;
    position: relative;
    box-shadow: 0px 1px 4px #0000001f;
    border-radius: 50%;
}
.user-info-wrapper {
    margin-top: 15px;
}
.status__text {
    margin-left: 8px;
}
.emoji_html {
    margin-left: 5px;
}
.float_emoji_html {
    position: absolute;
    bottom: 16%;
    border: 1px solid #d3d3d352;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    padding: 3px;
    border-radius: 50%;
    right: 4;
    width: 35px;
    height: 35px;
}
.floating-emoji {
    position: absolute;
    bottom: 16%;
    border: 1px solid #d3d3d352;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    padding: 3px;
    border-radius: 17px;
    right: -57%;
}
.repo-search-container {
    display: flex;
}

.user-info-wrapper .user-bio {
    margin-top: 10px;
}
.dp_wraper:first-child {
    z-index: 10;
    margin-top: -55px;
}
.repo_uname {
    color: black !important;
    font-weight: 600 !important;
}
.uname  {
    color: black !important;
    font-weight: 600 !important;
    margin-left: 0px !important;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    margin-top: 40px;
    border-top: 1px solid var(--repo-border);
    color: var(--primary-color);
    margin: 0 auto;
    width: 77%;
}
footer {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}
ul.footer {
    display: flex;
    justify-content: space-between;
    width: 44%;
}
.copyright {
    color: var(--body-text);
}
ul>li {
    list-style: none;
    text-decoration: none;
}
.footer-logo {
    width: 10%;
    display: flex;
    justify-content: center;
}
.bio {
    font-size: 16.5px;
}
.user-bio small {
    color: black;
}
 .name {
    font-weight: 600;
    font-size: 26px;
    color: #24292e;
}
.username {
    color: grey;
    font-weight: 300;
    font-size: 16px;
}
.user-resource  .profile-section .dp_wraper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
.user-resource  .user-resources {
    flex: 0 0 81%;
}

.tabs_wrapper ul {
    list-style: none;
}
.tabs_wrapper ul li {
    display: inline-block;
    padding: 11px;
    font-weight: 500;
}
.tabs_wrapper ul .active {
    border-bottom: 2px solid rgb(249, 130, 108) !important;
    color:black;
    font-weight: 600 !important;
}
 .tabs_wrapper ul li a {
    text-decoration: none;
    color:  #24292e;
    position: relative;
}
.tabs_wrapper ul li:hover {
    border-bottom: 2px solid lightgray;
}
.tabs_wrapper ul li a .number_span {
    background: #d3d3d363;
    padding: 3px 7px ;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 12px;
}
.tabs_wrapper ul li a .tab_name_span {
    margin-left: 23px;
}
.second_row {
    display: none;
}
.repo_search {
    margin-top: 15px;
}
.repo_search .repo_search_wrapper {
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #d3d3d357;
}
.repo_search .repo_search_wrapper input ::placeholder {
    color: grey;
}
.repo_search .repo_search_wrapper input {
    background: transparent;
    color: grey;
    width: 70%;
    height: 100%;
    border:0;
    outline: 0;
    padding: 10px;
}
.tabs_content_container {
    margin-left: 50px;
}
.repo_search_container {
    height: 45px;
    align-items: center;
    vertical-align: center;
    border-bottom: 1px solid #d3d3d357;
    width: 95%;
}
.repo_search_result {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d3d357;
    width: 255px;
}
.repo_desc {
    color: grey;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.repo_list_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3d3d357;
    width: 95%;
}
.repo_list_wrapper .repo_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.repo_list_wrapper .repo_list .repo_name  {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-text-link);
}
.repo_list_wrapper .repo_list .star_repo {
    background: rgb(250, 251, 252);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--btn-border);
    font-size: 12px;
    cursor: pointer;
    outline: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repo_info_content span {
    color: grey;
    font-size: 12px;
}
.repo_info_svg_parent {
    position: relative;
}
.repo_info_svg {
    margin-right: 4px;
    position: absolute;
    top: -1px;
    left: -18px;
}

.repo_info_content {
    margin-top: 15px;
    display: flex;
}
.repo_info_content .content_info {
    margin-right: 30px;
}
.repo_info {
    width: 100%;
}
.tab_svg {
    margin-right: 4px;
    position: absolute;
    top: 4px;
    left: 0;
}
.nav_menu_wrapper_right {
    display: flex;
    justify-content: space-between;
}
.unread_wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.unread_count{
    position: absolute;
    top: -2px;
    left: 7px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#54a3ff,#006eed);
    border-radius: 50%;
    font-size: 10px;
    color: var(--color-white);
}
.nav_dp {
    width: 25px;
    height: 25px;
}
.nav_dp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 4px;
}
.drop_down_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.margin-right{
    margin-right: 15px;
    cursor: pointer;
}
.dropdown-caret {
    display: flex;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
    color: var(--color-white);
}
.dp {
    margin-left: 7px;
}
.nav_svg {
    margin-right: 4px;
}
.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.m-bg{
    display: none;
}
.profile_row{
    display: none;
}
.octicon-three-bars {
    display: none;
}
.bell_count_first {
    display: none;
}
.m_nav_list {
    display: none;
}
.private_label {
    padding: 0 7px;
    border-radius: 2em;
    border: 1px solid #d3d3d357;
    font-size: 12px;
    font-weight: 600;
    font-weight: 500;
    line-height: 18px;
}
.status_div {
    display: none;
}
.status_active_text{
    display: none;
}
  .dropdown {
    position: relative;
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    left: -135px;
    background-color:var(--color-white);
    min-width: 175px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 4%);
    z-index: 999;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
    font-size: 13px;
  }
  .dropdown-content a:first-child {
      margin-top: 15px;
  }
  .dropdown-content a:last-child {
        margin-bottom: 15px;
    }   
  .dropdown-content a:hover {
    background-color: var(--color-text-link);
    color: var(--color-white)
}
.drop_down_dp_text{
    padding: 5px;
    padding-left: 8px;
    border-bottom: 1px solid var(--lightgrey);
}
.show {display: block;}

  /* REPO NAV */
.repo_nav_wrapper {
    height: 43px;
    border-bottom: 1px solid #d3d3d357;
    margin-top: 26px;
    position: sticky;
    top: 0;
    z-index: 1;
    background:  var(--color-white);
}
.repo_nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 93%;
    height: 100%;
}
.repo_nav_menu {
    flex: 0 0 75%
}
.repo_logo {
    flex: 0 0 22%;
    display: flex;
    visibility: hidden;
    transition: 0.5s all;
}
.hide {
    display: none !important;
}
.repo_uname{
    margin-left: 10px;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--btn-bg);
    border: 1px solid;
    outline: none;
    border-color: #1b1f2326;
    color:#24292e;
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: color,background-color,border-color; 
}

.profile-stats-flex {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.stats-flex-inner {
    display: flex;
    align-items: center;
}
.mr-5 {
    margin-right: 5px;
}
.stats-divider {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--body-text);
}
.stats-flex-inner {
    display: flex;
    align-items: center;
}
.stats-divider {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--body-text);
}
.stats-flex-inner {
    display: flex;
    align-items: center;
}
.stat-info {
    font-weight: lighter;
}
.stats-number {
    margin-right: 5px;
    font-weight: 600;
}
.user-info-edit-container{
    margin-top: 16px;
}
.user-info-edit-container  button {
    display: block;
    width: 100%;
    text-align: center;
}

.app_page_loader {
    min-height: calc(100vh - 90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .app_page_loader.hide {
    display: none;
  }
  
  .app_page_loader svg {
    height: 100px;
    height: 100px;
    -webkit-animation-name: shrink;
            animation-name: shrink;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  
  .app_page_loader svg path {
    fill: #24292e;
  }
  @-webkit-keyframes shrink {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: 0.7;
    }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: 0.7;
    }
  }
  
  @keyframes shrink {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: 0.7;
    }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      opacity: 0.7;
    }
  }


/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 360px) {
    .profile_name {
        font-size: 17px !important;
    }
    .repo_info_content span {
        font-size: 9px !important;
    }
    .user-resource-wrapper{
        width: 94%;
    }
    footer{
        flex-flow: row wrap;
    }
    ul>li{
        margin-right: 10px;
    }
    .footer-logo{
        display: none;
    }
}
@media screen and (max-width: 575px){
    .user-resource-wrapper{
        width: 94%;
    }
    footer{
        flex-flow: row wrap;
        width: 95%;
    }
    ul>li{
        margin-right: 13px;
    }
    .footer-logo{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .status_div {
        display: block !important;
        border: 1px solid var(--lightgrey);
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        padding-left: 12px;
    }
    .header_wrapper{
        position: absolute !important;
        width: 100% !important;
        top: 0px !important;
    }
    .second__row {
        margin-top: 80px !important;
    }
    .repo_logo {
        display: none !important;
    }
    .header_wrapper .navbar .nav_menu_wrapper{
        align-items: inherit;
    }
    .status_text {
        font-size: 14px;
        margin-left: 15px;
    }
    .status_parent_svg{
        position: absolute;
        left: 5px;
        top: 7px;
    }
    .nav_menu_wrapper {
        flex-direction: column !important;
    }
   
    .repo_list_wrapper .repo_list{
        width: 100% !important;
    }
    .show-mobile-nav-list {
        display: none !important;
    }
    .bell_count_first {
        display: inline-block !important;
    }
    .octicon-three-bars {
        display: inline-block !important;
    }
    .m_nav_list {
        display: inline-block !important;
    }
    .profile_row {
        margin: 0 auto;
        width: 95%;
        margin-top: 20px;
        display: flex;
        position: relative;
    }
    .profile_name {
        font-weight: 600;
        margin-left: 20px;
        font-size: 26px;
    }
    .profile_uname {
        font-weight: 300;
        margin-left: 20px;
        font-size: 18px;
    }
    .m_dp {
        width: 60px;
        height: 60px;
        display: flex;
    }
    .m_dp img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
       
    }
    .packages {
        /* display: none !important; */
    }
    .profile-section{
        display: none !important;
    }
    .user-resource .profile-section {
        display: none !important;
        flex:  0 0 0% !important;
    }
    .header_wrapper  {
        height: auto !important;
        padding-bottom: 15px;
    }
    .header_wrapper .navbar .nav_menu_wrapper ul {
        margin-left: inherit !important;
    }
    .header_wrapper .navbar .logo_wrapper {
        padding: 0px !important;
        padding-top: 19px !important;
    }
    .m_nav_list_svg{
        position: absolute;
        left: 0;
        top: 2px;
    }
    .svg_text_space {
        margin-left: 19px !important;
    }
    .m_nav_list_svg_parent{
        position: relative !important;
    }
    .header_wrapper .navbar .nav_menu_wrapper ul li:first-child {
        border-top: 1px solid var(--lightgrey);
    }
    .header_wrapper .navbar .nav_menu_wrapper ul li {
        display: block !important;
        padding-top: 11px;
        border-bottom: 1px solid var(--lightgrey);
        width: 100%;
        padding-bottom: 11px;
    }
    .nav_dp {
        display: flex !important;
    }
    .nav_dp img {
        margin-right: 10px;
    }
    .header_wrapper  .input_container {
        width: 100% !important;
        margin-top: 20px !important;
    }
    .header_wrapper  .input_container input{
        width: 100% !important;
    }
    .header_wrapper .navbar {
        height: auto !important;
        align-items: inherit !important;
        width: 90% !important;
    }
    .nav_menu_wrapper_right {
        display: none !important;
    }
    .nav-list {
        padding-inline-start: 0 !important;
    }
    .repo_nav_menu {
        overflow: auto;
    }
    .tabs_wrapper  {
        width: 600px;
        
    }
   
    .header_wrapper .navbar .nav_menu_wrapper {
        flex: 0 0 0% !important;
        height: auto !important;
    }
    .repo_nav_menu  {
        flex: 0 0 100% !important;
    }
    .tabs_wrapper ul li {
        padding: 0px !important;
        padding-top: 11px !important;
        padding-bottom: 11px !important;
        margin-right: 15px !important;
    }
    .tabs_content_container {
        margin-left: 0px !important;
    }
    .user-resource .user-resources{
        flex: 0 0 101%;
    }
    .repo_list_wrapper {
        width: 100%;
    }
    .null{
        display: none !important;
    }
    .repo_search .repo_search_wrapper {
        width: 100%;
    }
    .header_wrapper .navbar {
        flex-direction: column;
    }
    .search_wrapper {
        margin-top: 20px;
    }
}